/* Category */
.main-category,
.sub-category{
    text-align: center;
}

.main-category{
    margin: 20px 0;
    font-weight: 500;
}

.sub-category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-category button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
}

.sub-category .button-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-image: url("../img/sub-category-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid #000;
    border-radius: 50%;
}

.sub-category button .fas{
    font-size: 0.9em;
}

.sub-category-box{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: auto;
    border: 1px solid #ec7d2c;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgba(236, 125, 44, 0.8);
}

.sub-category-box-item{
    padding: 5px 0;
}

.sub-category-box-item.active,
.sub-category-box-item:hover{
    color: #ec7d2c;
}

.order-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.order-group button{
    padding: 2% 3%;
    border: 1px solid rgb(176, 176, 176);
    /*border-radius: 8px;*/
    border-radius: 20px;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
}

.order-group .active{
    border: 1px solid #ec7d2c;
}

.order-group button:hover{
    border: 1px solid #ec7d2c;
    box-shadow: 0 1px 2px 0 rgba(236, 125, 44, 0.8);
}






@media screen and (min-width: 768px){

}