/* Search */
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 240px;
    margin-bottom: 50px;
    color: #fff;
    background-color: #f3b300;
}

.search .search-group{
    width: 90%;
    height: 100%;
    padding-top: 40px;
}

.search h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.search p{
    font-size: 14px;
    margin-bottom: 10px;
}

.search input,
.search button{
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
}

.search input{
    width: 70%;
    padding: 10px 20px;
}

.search button{
    width: 25%;
    color: #fff;
    background-color: #d96f1c;
}

.search button:hover{
    box-shadow: 0 2px 4px rgba(236, 125, 44, 0.8);
}

/* QNA */
.qna h1{
    position: fixed;
    top: 300px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.table{
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.table .row{
    display: flex;
}

.table .table-title,
.table .table-date{
    padding: 16px 0;
}

.table .table-title{
    width: 75%;
    padding-left: 2%;
    padding-right: 3%;
}

.table .table-content{
    padding-right: 2%;
}

.table .table-date{
    width: 25%;
}

.table .table-content{
    display: none;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 16px;
    font-size: 12px;
}

.table .thead .row{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: 600;
}

.table .tbody .row{
    border-bottom: 1px solid #ddd;
}

.table .tbody .row.on{
    background-color: #f8f8f8;
}

.table .tbody .row.on .table-content{
    display: block;
}

.table .tbody .row .table-title{
    cursor: pointer;
}

.page-group{
    text-align: center;
    margin: 30px 0 50px 0;
}

.page-group .page-button{
    padding: 0 5px;
    background-color: #fff;
    cursor: pointer;
}

.page-group .page-button.selected,
.page-group .page-button:hover{
    color: #d96f1c;
}


@media screen and (min-width: 768px){
    /* Search */

    .search{
        margin-bottom: 110px;
    }

    .search .search-group{
        width: 60%;
    }

    .search h1{
        font-size: 36px;
    }

    .search input{
        width: 248px;
    }

    .search button{
        width: 122px;
    }

    /* QNA */
    .table{
        width: 90%;
    }

    .table .table-title{
        width: 80%;
        padding-left: 20px;
    }

    .table .table-date{
        width: 20%;
    }

    .table .table-content{
        width: 80%;
        padding-left: 60px;
    }

}

