.section-title{
    height: 100px;
    padding: 40px 0 0;
}

.common-detail{
    font-size: 13px;
    color: #999;
}

.common-image{
    margin-bottom: 20px;
}

.common-title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.common-content{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.image-transition img{
    transition: all 250ms ease-in-out;
}

.image-transition:hover img{
    transform: scale(1.1);
    filter: brightness(80%);
}

.list-group{
    display: flex;
    justify-content: space-between;
}

/* Header */
.header-top{
    padding: 9px 0;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.4;
    color: #bdbdbd;
    background-color: #000;
    text-align: right;
}

.header-top a{
    margin-right: 20px;
}

.header-top a:last-child{
    margin-right: 30px;
}

.header-menu{
    text-align: center;
}

.header-menu h1{
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.33333;
}

.header-category{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 16px;
}

.header-category-item{
    position: relative;
    display: inline-block;
    padding: 8px 0;
}

.header-category-item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ec7d2c;
    transition: width 150ms ease-in;
}

.header-category-item.selected::after{
    width: 100%;
}

.header-category-item:hover::after{
    width: 100%;
}

.header-menu .search-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu .search-group input{
    border-bottom: 2px solid #000;
    background-color: #fff;
}

.header-menu .search-group .search-form{
    margin-right: 26px;
}

.header-menu .search-group .search-form button{
    background-color: #fff;
}

.header-menu .search-group .search-form button::after{
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-size: 1.4em;
    font-weight: 900;
}

.header-menu .search-group a{
    display: none;
}

/* Product */
.product{
    text-align: center;
}

.card-list{
    margin-bottom: 20px;
}

.card{
    max-width: 250px;
    margin: 0 1px;
}

.card:first-child{
    margin-right: 15px;
}

.card-desc{
    padding: 0 10px;
}

.card-image{
    position: relative;
}

.card-image img{
    width: 100%;
    height: auto;
    transition: transform 250ms ease-in-out;
}

.card-image img:hover{
    transform: scale(1.1);
}

.notice-sticker{
    position: absolute;
    bottom: -18px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px solid white;
    font-size: 19px;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
    background-color: #ec7d2c;
}

.product .card-title{
    color: #888;
}

.product .card-content{
    color: #000;
}

/* Ranking - ranking area */
.ranking{
    padding: 40px 0;
    background-color: #F6F6F6;
}

.ranking-area .ranking-header{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.ranking-area .area-title{
    font-size: 26px;
    font-weight: 900;
    margin-right: 10px;
}

.ranking-area .more-ranking-button{
    display: none;
    width: 80px;
    height: 34px;
    border: 1px solid #ddd;
    font-size: 14px;
    background-color: #fff;
}

.ranking-area .more-ranking-button:hover{
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(125, 125, 125, 0.35);
}

.ranking-item{
    padding: 14px 0;
    border-bottom: 1px solid #999;
}

.ranking-item:last-child{
    border-bottom: 1px solid #000;
}

.ranking-item dl{
    display: flex;
}

.ranking-item .ranking-item-ranking{
    min-width: 24px;
    margin: 0 15px 0 10px;
    font-size: 15px;
}

.ranking-area .ranking-item-image{
    margin-right: 10px;
}

.ranking-area .ranking-item-image img{
    width: 80px;
    height: 112px;
}

.ranking-item .ranking-item-title{
    display: block;
    font-weight: 500;
}

.ranking-area .ranking-item .hide{
    display: none;
}

.ranking-area .ranking-item:first-child .hide{/* js로 처리하기*/
    display: block;
}
.ranking-area .ranking-item:first-child .ranking-item-title{/* js로 처리하기*/
    margin-bottom: 12px;
}

.ranking-area .ranking-item:hover .hide{
    display: block;
}

.ranking-area .ranking-item:hover .ranking-item-ranking{
    font-weight: 900;
}

.ranking-area .ranking-item:hover .ranking-item-title{
    margin-bottom: 12px;
    font-weight: 700;
}

/* Ranking - place area */
.ranking .row .col-12:first-child{
    margin-bottom: 40px;
}

.place-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.place-area .place-item{
    max-width: 161px;
}

.place-area .area-title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.place-area .area-title::after{
    content:"\f3c5";
    font-family: "Font Awesome 5 Free";
    font-size: 0.95em;
    font-weight: 900;
    margin-left: 10px;
    color: #ec7d2c;
}

.place-area .place-item-image{
    position: relative;
    margin: 0 2px 14px;
    overflow: hidden;
}

.place-area .place-item-image img{
    width: 100%;
    height: auto;
}

.place-area .place-item-image .place-sticker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #ec7d2c;
}

.place-area .place-item-title{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* Recommendation */
.recommendation{
    text-align: center;
}

.recommendation .recommendation-item-group{
    align-items: center;
}

.recommendation .card{
    border: 1px solid #ddd;
}

.recommendation .card:hover{
    border: 1px solid #ec7d2c;
}

.recommendation .card-image{
    overflow: hidden;
}

.recommendation .card-title{
    color: #000;
}

.recommendation .card-place{
    color: #888;
}

/* Footer */
.footer{
    padding: 30px 0;
    text-align: center;
    background-color: #f6f6f6;
}

.footer .footer-category{
    font-size: 13px;
    margin-bottom: 20px;
}

.footer .category-border{
    color: #ddd;
}

.footer-logo,
.footer-notice{
    display: none;
}

.footer-logo{
    color: #555;
}

.footer-title{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}

.footer-copyright{
    font-size: 13px;
}

.footer-notice{
    font-size: 12px;
    color: #999;
}









@media screen and (min-width: 768px){

    .common-image{
        margin-bottom: 25px;
    }

    .common-title{
        font-size: 16px;
        margin-bottom: 12px;
    }

    .common-content{
        font-size: 16px;
        margin-bottom: 15px;
    }

    /* Header */
    .header-top{
        margin-bottom: 0;
    }

    .header-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        border-bottom: 1px solid #bdbdbd;
        padding: 0 30px;
        margin-bottom: 0;
    }

    .header-menu h1{
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .header-menu ul{
        width: 400px;
        margin-bottom: 0;
        font-size: 18px;
    }

    .search-group .search-form{
        flex-shrink: 0;
    }

    .search-group{
        margin-bottom: 0;
    }

    .header-menu .search-group a {
        display: inline-block;
        width: 40px;
        height: 30px;
    }

    .search-group a::before{
        content: "\f007";
        font-family: "Font Awesome 5 Free";
        display: block;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .search-group a:last-child::before{
        content: "\f0ac";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .search-group .icon-desc{
        display: block;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: -0.05em;
        transition: color 250ms ease-in-out;
    }

    .search-group a:hover .icon-desc{
        color: #000;
    }

    /* Product */
    .section-title{
        height: 152px;
        padding: 82px 0 0;
    }

    .card-list{
        margin-bottom: 50px;
    }

    .card:first-child{
        margin-right: 30px;
    }

    /* Ranking */
    .ranking{
        padding: 80px 0;
    }

    .ranking .row .col-12:first-child{
        margin-bottom: 0;
    }

    .area{
        height: 500px;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    .ranking-area{
        max-width: 480px;
        padding: 50px;
    }

    .place-area{
        max-width: 690px;
        padding: 50px;
    }

    .ranking-area .ranking-header{
        justify-content: space-between;
    }

    .ranking-area .more-ranking-button{
        display: inline-block;
    }

    .ranking-item{
        padding: 12px 0;
    }

    /* Footer */
    .footer{
        padding: 0;
        background-color: #fff;
        text-align: left;
    }

    .footer .row{
        margin-bottom: 25px;
    }

    .footer .row:first-child{
        border-bottom: 1px solid #ddd;
    }

    .footer-category-item{
        font-size: 15px;
        cursor: pointer;
    }

    .footer-logo{
        display: block;
        padding-top: 20px;
        font-size: 26px;
        font-weight: 900;
    }

    .footer-desc{
        line-height: 1.7;
        margin-bottom: 10px;
    }

    .footer-copyright{
        color: #000;
    }

    .footer-logo,
    .footer-notice{
        display: block;
    }


}