<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category page</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./grid.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/category.css">
    <script src="https://kit.fontawesome.com/5342aa1b58.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <section class="category">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="main-category">콘서트</h1>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="sub-category">
                        <button type="button">국내뮤지션</button>
                        <div class="sub-category-box">
                            <ul>
                                <li class="sub-category-box-item">
                                    <a href="#">
                                        전체보기
                                    </a>
                                </li>
                                <li class="sub-category-box-item">
                                    <a href="#">
                                        국내뮤지션
                                    </a>
                                </li>
                                <li class="sub-category-box-item">
                                    <a href="#">
                                        해외뮤지션
                                    </a>
                                </li>
                                <li class="sub-category-box-item">
                                    <a href="#">
                                        페스티벌
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <ul class="order-group">
                        <li class="order-item">
                            <button type="button">
                                주간랭킹순
                            </button>
                        </li>
                        <li class="order-item">
                            <button type="button">
                                신상품순
                            </button>
                        </li>
                        <li class="order-item">
                            <button type="button">
                                종료임박순
                            </button>
                        </li>
                        <li class="order-item">
                            <button type="button">
                                상품명순
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>