<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice Detail</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./grid.min.css">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/detail.css">
    <script src="https://kit.fontawesome.com/5342aa1b58.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="notice-header">
        <h1>공지사항</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="notice-title-group">
                        <strong>티켓오픈</strong>
                        <h2>2020 서울드럼페스티벌 티켓오픈 안내</h2>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="notice-info">
                        <dl>
                            <dt>등록일</dt>
                            <dd>2020-08-05</dd>
                        </dl>
                        <dl>
                            <dt>조회수</dt>
                            <dd>13</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="notice-file-group">
                        <dl>
                            <dt>첨부파일</dt>
                            <dd>공연시간변경표</dd>
                            <dd>123MB</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="ticket-open-bar">
                        <p>2020.08.10(월) 오후 3:00</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="notice-content">
                        <p>공연 소개 <br />

                            이번 서울드럼페스티벌은 코로나19로 인하여 시민들과 함께 안전한 축제로 만들기 위해<br />

                            비지정석으로 티켓 예매를 진행합니다. 좌석은 예매 시 선착순으로 지정됩니다.<br />



                            - 티켓예매 사이트 : YES24티켓 (http://ticket.yes24.com)<br />

                            - 티켓 오픈일자 : 8월 10일(월) 오후3시<br />

                            - 티켓 예매는 선착순으로 진행되며, 조기 마감될 수 있습니다<br />

                            - 티켓은 1인 2매까지 예매 가능합니다.<br />



                            (축제 개요)<br />

                            - 축제 명 : 2020 서울드럼페스티벌<br />

                            - 일시 : 8월 21일(금) ~ 22일(토) / 19:00<br />

                            - 장소 : 장충체육관<br />

                            - 관람 등급 : 전체관람가<br />

                            - 티켓 가격 : 무료 </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="move-button-group">
                        <a href="#">이전글 <strong>2020 서울드럼페스티벌 티켓오픈 안내</strong></a>
                        <a href="#">다음글 <strong>2020 서울드럼페스티벌 티켓오픈 안내</strong></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="list-button-group">
                        <a href="" role="button">목록보기</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>