<header class="header">
    <div class="header-top">
        <div class="header-site-group">
            <a href="http://www.yes24.com/Main/default.aspx" target="_blank">YES24</a>
            <a href="https://movie.yes24.com/" target="_blank">영화</a>
            <a href="http://www.yes24.com/Mall/Main/Music/003?CategoryNumber=003" target="_blank">CD/LP</a>
            <a href="http://www.yes24.com/Mall/Main/Dvd/004?CategoryNumber=004" target="_blank">DVD/BD</a>
            <span>|</span>
            <a href="https://yes24livehall.com/" target="_blank">예스24라이브홀</a>
            <a href="https://yes24stage.com/" target="_blank">예스24스테이지</a>
        </div>
        <div class="header-global">
            GLOBAL
        </div>
    </div>
    <nav class="header-menu">
        <h1>
            <a href="#">YES24 티켓</a>
        </h1>
        <ul class="header-category list-group">
            <li class="header-category-item active">
                <a href="#" class="category-link">콘서트</a>
                <ul class="header-sub-category list-group">
                    <li class="header-sub-category-item">
                        <a href="#">전체보기</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">국내뮤지션</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">해외뮤지션</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">페스티벌</a>
                    </li>
                </ul>
            </li>
            <li class="header-category-item">
                <a href="#" class="category-link">뮤지컬</a>
                <ul class="header-sub-category list-group">
                    <li class="header-sub-category-item">
                        <a href="#">전체보기</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">라이센스</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">오리지널</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">창작</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">넌버벌 퍼포먼스</a>
                    </li>
                </ul>
            </li>
            <li class="header-category-item">
                <a href="#" class="category-link">연극</a>
                <ul class="header-sub-category list-group">
                    <li class="header-sub-category-item">
                        <a href="#">전체보기</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">대학로</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">기타지역</a>
                    </li>
                </ul>
            </li>
            <li class="header-category-item">
                <a href="#" class="category-link">클래식</a>
                <ul class="header-sub-category list-group">
                    <li class="header-sub-category-item">
                        <a href="#">전체보기</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">클래식</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">발레/무용</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">국악</a>
                    </li>
                </ul>
            </li>
            <li class="header-category-item">
                <a href="#" class="category-link">전시</a>
                <ul class="header-sub-category list-group">
                    <li class="header-sub-category-item">
                        <a href="#">전체보기</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">전시</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">체험/행사</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">워터파크/스파</a>
                    </li>
                </ul>
            </li>
            <li class="header-category-item">
                <a href="#" class="category-link">아동</a>
                <ul class="header-sub-category list-group">
                    <li class="header-sub-category-item">
                        <a href="#">전체보기</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">뮤지컬</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">연극</a>
                    </li>
                    <li class="header-sub-category-item">
                        <a href="#">기타</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="search-group">
            <form action="#" method="GET" class="search-form">
                <input type="text" placeholder="">
                <button type="submit" aria-label="Search"></button>
            </form>
            <button type="button" class="user-button" aria-label="User account">
                <span></span>
                <ul class="user-box hide">
                    <li class="user-box-item">
                        <a href="">
                            회원가입
                        </a>
                    </li>
                    <li class="user-box-item">
                        <a href="">
                            로그인
                        </a>
                    </li>
                    <li class="user-box-item">
                        <a href="">
                            마이티켓
                        </a>
                    </li>
                    <li class="user-box-item">
                        <a href="">
                            마이페이지
                        </a>
                    </li>
                    <li class="user-box-item">
                        <a href="">
                            고객센터
                        </a>
                    </li>
                </ul>
            </button>
        </div>
    </nav>
</header>