<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../css/modifyInfo.css">
</head>
<body>
    <div id="container">
        <div id="title">나의 정보 수정</div>

        <div id="myPageForm">
            <form action="">
                <div class="myPageCol idDiv">
                    <div class="inputArea">
                        <div class="label">아이디</div>
                        <input class="data" id="user_userid" type="text" size="15" readonly>
                    </div>
                </div>
                <div class="myPageCol">
                    <div class="inputArea">
                        <div class="label">비밀번호</div>
                        <input class="data" id="user_pw" type="password">
                    </div>
                </div>
                <div class="myPageCol">
                    <div class="inputArea">
                        <div class="label">비밀번호 확인</div>
                        <input class="data" id="pwConfirm" type="password">
                    </div>
                </div>
                <div class="myPageCol">
                    <div class="inputArea">
                        <div class="label">이름</div>
                        <input class="data" id="user_name" type="text" size="15" readonly>
                    </div>
                </div>
                <div class="myPageCol addressDiv">
                    <div class="inputArea">
                        <div class="label">주소</div>
                        <input class="data" id="user_postcode" type="text" size="10"><button>주소찾기</button><br>
                        <input class="data" id="user_address" type="text" size="20">
                        <input class="data" id="user_datail_address" type="text" size="15">
                    </div>
                </div>
                <div class="myPageCol">
                    <div class="inputArea">
                        <div class="label">전화번호</div>
                        <input class="data" id="user_mobile1" type="text" size="5"> - <input class="data" id="user_mobile2" type="text" size="5"> - <input class="data" id="user_mobile3" type="text" size="5">
                    </div>
                </div>
                <div class="myPageCol">
                    <div class="inputArea">
                        <div class="label">이메일</div>
                        <input class="data" id="user_email" type="text" size="30">
                    </div>
                </div>
                <div class="myPageCol agreeDiv">
                    <div class="inputArea agree">
                        <div class="label">수신동의</div>
                        <input class="data" id="user_is_sms" type="checkbox"><label for="user_is_sms">sms 수신 동의</label><br>
                        <input class="data" id="user_is_email" type="checkbox"><label for="user_is_email">email 수신 동의</label>
                    </div>
                </div>
            </form>
        </div>

        <div id="btnArea">
            <button id="modify">수정</button>
            <button id="cancel">취소</button>
        </div>
    </div>
</body>
<script src="../../js/modifyInfoScript.js"></script>
</html>